*{
    text-decoration: none;
}
body {
    background-color: #696567;
}
#navigation{
    text-align: center;
    padding: 20px;

}
.nav,a{
padding: 20px;
}

.nav{
    text-align: center;
}


.nav a{
    padding: 15px 30px;
    color: skyblue;
    font-size: 25px;
 }
 .nav a:hover{
    padding: 10px 30px;
    color:navy;
    background-color: rgb(151, 177, 125);

    border-radius: 10px;
 }


 /* body --> */
 #about{
     height: auto;
 }

 .right{
     width: 50%;
    


 }

 .left{
     width: 50%;
     padding: 20px;
     text-align: center;
     color: skyblue;

 }

 .us{
     display: flex;
 }

 #cla{
     padding: 20px;
     border-radius: 20px;
 }
 .right {
     /* border: 5px solid; */
     background-image: url("images/bry.jpeg");
     height: 300px;
     background-size: 100% 100%;
     border-radius: 20px;
     padding: 20px;
     


 }
  body{
      background-image: url("images/dropin.jpg");
      height: auto;

  }
  .left p{
      font-size: 23px;

  }


  /* <!-- portfolio --> */


  #portfolio{
    text-align: center;
    color: skyblue;
}

  .project{
      text-align: center;
      display: flex;
  }

  .box{
      padding: 20px;
  }
  h3{
      color: wheat;
  }
  label{
    color: white;

}
#contact{
    text-align: center;

}

input{
    margin-bottom: 1cm;
    height: 2rem;
    background-color: lightgray;
    border-radius: 7px;

}

input[type=button]{
    background-color: #008000;
    border-radius: 7px;
    color: white;
    width: 10%;
}

/* service */

#service h2{  color: white;


}

#service{
    text-align: center;
}
.service{
    display: flex;
}

#image{
    width: 300px;
    border-radius: 10px;
}

.box p{
    color: skyblue;

}






 
